*{
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
  color: white;
}
header{
  background-color: black;
  color: white;
  border-radius: 25px;
}
.title{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 30px;
}
.title h1{
  padding-left: 10px;
}
.title img{
  width: 100px;
  height: 50px;
  padding-top: 14px;
}
.slogan{
  display: flex;
  justify-content: center;
  padding-left: 7px;
  padding-top: 10px;
}
@media only screen and (max-width: 1000px) {
  .navBar ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 19px;
  }
}
.globalnav{
  display: flex;
  justify-content: space-between;
}
.réseau img{
  margin-top: 40px;
  height: 50px;
  width: 50px;
  padding-left: 10px;
}
.navBar{
  margin-top: 30px;
  padding: 30px 30px;
  font-size: 19px;
}
.navBar ul{
  display: flex;
  justify-content: flex-end;
}
.navBar ul li{
  padding-right: 10px;
  padding-left: 10px;
}
.navBar a{
  color: white;
  border-bottom: 1px solid black;
  transition: 0.2s;
}
.navBar a:hover{
  border-bottom: 1px solid white;
  transition: 0.2s;
}
#navBar2{
  display: none;
  position: fixed;
  right: 10px;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: black;
}
#navBar2 li{
  padding-top: 10px;
}
.contact{
  font-family: 'IBM Plex Mono', monospace;
}
body{
  background-color: #dfe4ea;
  padding: 10px 10px;
}
/*
@media only screen and (max-width: 1000px) {
  .list-evenements-navBar{
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    transition: 3s;
  }
}
.list-evenements-navBar{
  background-color: black;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 4px solid white;
}

.list-evenements-navBar a{
  border: 1px solid black;
  background-color: black;
  border-radius: 50px;
  padding: 5px 5px;
  transition: 1s;
}
.list-evenements-navBar a:hover{
  border: 1px solid White;
  background-color: White;
  color: black;
  border-radius: 50px;
  padding: 5px 5px;
  transition: 0.2s;
}
.list-evenements-navBar li{
  padding-top: 15px;
}
*/
.Accueil-actualité{
  height: 500px;
}
@media only screen and (max-width: 1000px) {
  .contenair-all{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 10px;
  }
}
.contenair-all{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 50px;
}
.Accueil-title{
  width: 60%;
  height: 800px;
}
.Accueil-title h2{
  color: black;
}
.presentationbar{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.presentationbar h1{
  padding-bottom: 50px;
  color: #a4b0be;
}
.Accueilbar{
  display: flex;
  justify-content: space-around;
  padding-bottom: 75px;
}
.Accueilbar a{
  color: black;
  font-size: 19px;
}
.Accueilbar li{
  list-style-type: circle;
  color: black;
  padding-top: 10px;
}
.informationrelative h2{
  padding-bottom: 30px;
}
.inforecuperation1{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inforecuperation2{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info-divtest{
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  margin: 10px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: gray;
  border-radius: 15px;
}
.actualites-generals-divtest{
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  margin: 10px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: gray;
  border-radius: 15px;
}
.Accueil-actualité{
  background-color: #ced6e0;
  height: 800px;
  width: 30%;
  border-radius: 25px;
}
.Accueil-actualité h2{
  padding-top: 15px;
  padding-left: 15px;
  color: black;
  padding-bottom: 30px;
}
footer{
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -10px -10px;
}
.footer-part1{
  display: flex;
  justify-content: center;
}
.footer-part1 li{
  padding-top: 10px;
}
.footer-signature-mentions{
  display: flex;
  justify-content: space-between;
  background-color: gray;
  border-radius: 50px;
  margin-top: 20px;
  padding: 10px 0px;
}
.footer-signature-mentions ul{
  display: flex;
  justify-content: space-between;
}
.footer-signature-mentions li{
  padding-right: 40px;
}
.legal{
  padding-right: 40px;
}
